<!DOCTYPE html>
<html>
  <head>
    <title>Typing Test</title>
    <link rel="stylesheet" href="../../nav.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="table.css">
    <link rel="stylesheet" href="resposive.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/c3389ea65c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <main>
      <div class="container">
        <div id="nav-container">
          <nav>
            <div class="logo-container">
              <img src="../../assets/logo.png" alt="logo" id="logo" />
            </div>
            <div class="nav-items">
              <ul>
                <li class="items">
                  <div>
                    <a href="#typing-test" class="nav-link">Home</a>
                  </div>
                </li>
                <li class="items">
                  <a href="#Leaderboard" class="nav-link"
                    >Leaderboards</a
                  >
                </li>
                <li class="items">
                  <a href="#FAQ" class="nav-link"
                    >FAQs</a
                  >
                </li>
              </ul>
            </div>
            <div class="buttons">
              <button id="login">Login</button>
              <button id="getstarted">Get Started</button>
            </div>
           
          </nav>
        </div>
        <div id="smallNav">
          <nav>
            <div class="logo-container">
              <img src="../../assets/logo.png" alt="logo" id="logo" />
            </div>
            <div class="hamburger">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
          </nav>
           
        </div>
        <div class="newNav">
          <ul>
            <li class="items">
              <div>
                <a href="#typing-test" class="nav-link">Home</a>
              </div>
            </li>
            <li class="items">
              <a href="#Leaderboard" class="nav-link"
                >Leaderboards</a
              >
            </li>
            <li class="items">
              <a href="#FAQ" class="nav-link"
                >FAQs</a
              >
            </li>
          
            <li class="items">
              <a href="">Login</a>
            </li>
            <li class="items">
              <a href="">Get Started</a>
            </li>
          </ul>
        </div>
        <section class="type-test">
          <div class="typing-container">
            <p id="quote">Typing Speed Test</p>
            <div class="wpm-container">
              <p class="time">Timer:</p>
              <!-- <a class="faq"href="#FAQ">to faq</a> -->
              <p id="timer">0</p>
            </div>
            <div id="quote-container"></div>
            <input
              type="text"
              id="user-input"
              autofocus
              placeholder="Type here to start..."
            />
            <p id="result"></p>
          </div>
        </section>
        <section id="Leaderboard">
          <div id="table">
            <table>
              <caption id="leadTitle">LEADERBOARDS</caption>
              <tr id="Header">
                <th>Username</th>
                <th>Speed</th>
                <th>Time</th>
              </tr>
              <tr id="leadData">
                <td id="userInfo"><div id="user">
                  <img src="../../assets/icon-python.png" alt="displayed picture"
                  style="width: 30px;">
                  <p>username</p>
                </div>
              </td>
              <td>230wpm</td>
              <td>30 sec</td>
              </tr>
            
            </table>
          </div>
        </section>
        <section class="typing-info">
          <div class="info-container">
            <div class="info-title">
              <p class="title">Why is it necessary to use a typing test?</p>
              <p class="title2">Speed Matters!</p>
              <p class="sub-title">
                Check out how typing practice can do be beneficial for you.
              </p>
            </div>
            <div class="info-content">
              <div class="benefit">
                <p class="benefit-Title">Increased Productivity</p>
                <p class="benefit-content">
                  Improved typing speed and accuracy allow you to complete tasks
                  that involve typing more quickly. This can lead to increased
                  productivity at work or in your personal life.
                </p>
              </div>
              <div class="benefit">
                <p class="benefit-Title">Time-Saving</p>
                <p class="benefit-content">
                  Typing faster means spending less time on the physical act of
                  typing and more time on the content itself. This is
                  particularly valuable for professionals who spend a
                  significant portion of their day working with text.
                </p>
              </div>
              <div class="benefit">
                <p class="benefit-Title">Job Opportunities</p>
                <p class="benefit-content">
                  Some jobs and industries require fast typing skills, such as
                  data entry, transcription, and customer service. Improving
                  your typing speed can open up new job opportunities and make
                  you more competitive in the job market.
                </p>
              </div>
            </div>
          </div>
        </section>
        <section class="FAQ" id="FAQ">
          <div class="faq-container">
            <div class="faq-title">
              <p class="faq-title">Frequently Asked Questions</p>
            </div>
            <div class="faq-content">
              <div class="faq-items">
                <p class="item-title">What is wpm?</p>
                <div class="open-hide">
                  <span class="plus">+</span>
                </div>
              </div>
              <div class="item-content">
                <p class="item-quote">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                  blanditiis pariatur officiis debitis? Aperiam porro velit,
                  debitis amet labore, nam eaque architecto magnam tempore
                  voluptatem non minus ut, consequuntur nisi.
                </p>
              </div>
              <div class="faq-items">
                <p class="item-title">What is wpm?</p>
                <div class="open-hide">
                  <span class="plus">+</span>
                </div>
              </div>
              <div class="item-content">
                <p class="item-quote">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                  blanditiis pariatur officiis debitis? Aperiam porro velit,
                  debitis amet labore, nam eaque architecto magnam tempore
                  voluptatem non minus ut, consequuntur nisi.
                </p>
              </div>
              <div class="faq-items">
                <p class="item-title">What is wpm?</p>
                <div class="open-hide">
                  <span class="plus">+</span>
                </div>
              </div>
              <div class="item-content">
                <p class="item-quote">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                  blanditiis pariatur officiis debitis? Aperiam porro velit,
                  debitis amet labore, nam eaque architecto magnam tempore
                  voluptatem non minus ut, consequuntur nisi.
                </p>
              </div>
              <div class="faq-items">
                <p class="item-title">What is wpm?</p>
                <div class="open-hide">
                  <span class="plus">+</span>
                </div>
              </div>
              <div class="item-content">
                <p class="item-quote">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                  blanditiis pariatur officiis debitis? Aperiam porro velit,
                  debitis amet labore, nam eaque architecto magnam tempore
                  voluptatem non minus ut, consequuntur nisi.
                </p>
              </div>
              <div class="faq-items">
                <p class="item-title">What is wpm?</p>
                <div class="open-hide">
                  <span class="plus">+</span>
                </div>
              </div>
              <div class="item-content">
                <p class="item-quote">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                  blanditiis pariatur officiis debitis? Aperiam porro velit,
                  debitis amet labore, nam eaque architecto magnam tempore
                  voluptatem non minus ut, consequuntur nisi.
                </p>
              </div>

              <div class="faq-items">
                <p class="item-title">What is wpm?</p>
                <div class="open-hide">
                  <span class="plus">+</span>
                </div>
              </div>
              <div class="item-content">
                <p class="item-quote">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                  blanditiis pariatur officiis debitis? Aperiam porro velit,
                  debitis amet labore, nam eaque architecto magnam tempore
                  voluptatem non minus ut, consequuntur nisi.
                </p>
              </div>
              <div class="faq-items">
                <p class="item-title">What is wpm?</p>
                <div class="open-hide">
                  <span class="plus">+</span>
                </div>
              </div>
              <div class="item-content">
                <p class="item-quote">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                  blanditiis pariatur officiis debitis? Aperiam porro velit,
                  debitis amet labore, nam eaque architecto magnam tempore
                  voluptatem non minus ut, consequuntur nisi.
                </p>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div id="overlay">
        <div id="result-div">
          <!-- <h2><p id="closeRes">x</p></h2> -->
          <p id="resultTitle">Your Score!</p>
          <p><span id="cpm"></span> Characters per minute!</p>
          <p><span id="wpm"></span> Words per minute!</p>
          <p id="tap">Click to continue</p>
        </div>
      </div>
      
      <section class="footer">
        <div class="footer-content">
          <div class="infos">
            <div id="logo">
              <img src="../../assets/logowhite.png" alt="logo" id="logowhite" />
            </div>
            <div id="socials">
              <p class="title">Follow Me On</p>
              <ul id="socials-list">
                <li>
                  <a
                    href="https://www.facebook.com/sigmundjude.guevarra"
                    id="facebook"
                    target="_blank"
                    ><i
                      class="fa-brands fa-facebook fa-3x"
                      style="color: #f7f7f7"
                    ></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://github.com/Ayronman3"
                    id="github"
                    target="_blank"
                    ><i
                      class="fa-brands fa-github fa-3x"
                      style="color: #ffffff"
                    ></i
                  ></a>
                </li>
                <li>
                  <a href="" id="LinkedIn"
                    ><i
                      class="fa-brands fa-linkedin fa-3x"
                      style="color: #ffffff"
                    ></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="rights"><p>&copy; 2023 SpeedyKeys.com</p></div>
        </div>
      </section>
    </main>

    <script src="typing.js"></script>

    <script src="../../navFunction.js"></script>
    <script src="hamburger.js"></script>
  </body>
</html>
